asgiref
boto3
botocore
Django
django-filter
django-storages
docutils
gunicorn
jmespath
joblib
numpy
pickle-mixin
Pillow
psycopg2-binary
python-dateutil
pytz
s3transfer
scikit-learn
scipy
six
scikit-learn
sqlparse
threadpoolctl
urllib3
whitenoise