asgiref==3.2.7
boto3==1.14.2
botocore==1.17.2
Django==3.0.7
django-filter==2.3.0
django-storages==1.9.1
docutils==0.15.2
gunicorn==20.0.4
jmespath==0.10.0
joblib==0.15.1
numpy==1.18.5
pickle-mixin==1.0.2
Pillow==8.1.1
psycopg2==2.8.5
python-dateutil==2.8.1
pytz==2020.1
s3transfer==0.3.3
scikit-learn==0.23.1
scipy==1.4.1
six==1.15.0
sklearn==0.0
sqlparse==0.3.1
threadpoolctl==2.1.0
urllib3==1.25.9
whitenoise==5.1.0
